body {
	padding-top: 80px;
	background-color: peachpuff;
}

.list-group-item {
	background-color: mintcream;
}

#cardBtns {
  display: flex;
  text-align: center;
}

input {
  background-color: #c2c2c2;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
 input:hover {
   background-color: peru;
   color: white;
 }

 #updBtn {
   margin: auto;
   float: left;
 }

#delBtn {
  margin: auto;
  float: right;
}
