doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Homepage
  style
    include ../../node_modules/bootstrap/dist/css/bootstrap.min.css
    include ../../public/css/index.css
// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container
    a.navbar-brand(href='#page-top')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#') Home
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='/people') People
header
  .container.text-center
    h1 Welcome to the Homepage
    p.lead lorem ipsum alum asuyt iutha fkajgh
section#about
  .container
    .row
      .col-lg-8.mx-auto
        h2 About this page
        p.lead
          | fsf a sasd fasf sfgfa sag sdsda dsds:
        ul
          li asd dfdfas eerewr ggsds
          li dsfsfs dfsfs adaaasas
          li DNJFIJD ASJDHAUH GDSG
          li aojajfa sjdass dfasda
// Footer
footer.py-5.bg-dark
  .container
    p.m-0.text-center.text-white Your Homepage 2020
  // /.container
// Bootstrap core JavaScript
script(src='../../node_modules/jquery/dist/jquery.min.js')
script(src='../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')
