doctype html
head
  style(type='text/css').
    body{
    background-color: gray;
    }
  meta(charset='UTF-8')
  title=title
h1=message
form(action='/people/all' method='GET')
  input(type='submit' value='GET all people')
form(action='/people' method='GET')
  input(type='submit' value='Create a person')
