doctype html
head
  style(type='text/css').
    body{
    background-color: gray;
    }
  meta(charset='UTF-8')
  title Create New Person
form(action='/people/' method='POST')
  center
    label(for='personName')
      | Name: 
      input#personName(type='text' name='nameField')
    br
    label(for='personAge')
      | Age:  
      input#personAge(type='text' name='ageField')
    br
    input(type='submit' value='Submit')
