<!DOCTYPE html>
<html lang='en'>
<head>
    <style type="text/css">
        body{
            background-color: gray;
        }
    </style>
    <meta charset='UTF-8'>
    <title>Create New Person</title>
</head>

<body>
<form action="/people/" method="POST">
<center>
    <label for="personName">
        Name: <input id="personName" type="text" name="nameField">
    </label>
    <br />
    <label for="personAge">
        Age:  <input id="personAge" type="text" name="ageField">
    </label>
    <br />
    <input type="submit" value="Submit">
</center>
</form>
</body>
</html>