doctype html
head
  style(type='text/css').
    body{
    background-color: gray;
    }
  meta(charset='UTF-8')
  title Updated
center
  h1 Person updated
  label(for='personId')
    | Id:
    label=id
  br
  label(for='personName')
    | Name:
    label=name
  br
  label(for='personAge')
    | Age:
    label=age
